@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;

  --primary: #00b8c4;
  --primary-dark: #0891b2;

  --secondary-bg: #eef2f7;
  --card-bg: #ffffff;

  --muted: #475569;
  --border: #cbd5e1;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* Text Selection */
::selection {
  background: var(--primary);
  color: white;
}

/* Global Container */
.container-width {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

/* Reusable Section Spacing */
.section-spacing {
  padding-top: 110px;
  padding-bottom: 110px;
}

/* Reusable Transition */
.hover-transition {
  transition: all 0.3s ease;
}

/* Gradient Text */
.gradient-text {
  background: linear-gradient(
    to right,
    #00b8c4,
    #0891b2
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Premium Button Gradient */
.primary-gradient {
  background: linear-gradient(
    to right,
    #00b8c4,
    #0891b2
  );
}

/* Glassmorphism */
.glass-effect {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(10px);
}

/* Smooth Image Hover */
.image-hover {
  transition: transform 0.5s ease;
}

.image-hover:hover {
  transform: scale(1.05);
}